{% extends 'base.html' %}

{% block content %}
    <table>
        {% for post in posts %}
            <tr>
                    <div>Название Поста</div>
                    <div>{{ post.data }}</div>
            </tr>
            <tr>
                    <div>Текст поста</div>
                    <div>{{ post.name }}</div>
                </tr>
            <tr>
                    <div>Время поста</div>
                    <div>{{ post.text }}</div>
                </tr>
        {% endfor %}
    </table>
{% endblock %}