{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
    <div>
        <div class="label">
            <label for="user_name">Имя пользователя</label>
        </div>
        <div class="input">
            <input type="text" name="user_name" id="user_name">
        </div>
    </div>

    <div>
        <div class="label">
            <label for="name">Название Поста</label>
        </div>
        <div class="input">
             <input type="text" name="name" id="name">
        </div>

    </div>
         <div>
        <div class="label">
            <label for="text">Текст Поста</label>
        </div>
        <div class="input">
             <input type="text" name="text" id="text">
        </div>

    </div>

    <div>
        <input type="submit" value="Добавить">
    </div>

</form>
{% endblock %}